* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #fcf6ef;
}

.hero {
  background-color: #d6dac8;
  height: 600px;
  border-top-left-radius: 0rem 0rem;
  border-top-right-radius: 0rem 0rem;
  border-bottom-right-radius: 500px 140px;
  border-bottom-left-radius: 500px 150px;
}
